@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body{
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  color: #292F36;
}
ul{
  list-style: none;
  }
ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.highlight{
  border:4px solid #B24B3E;
  border-radius: 50%;
}
.underline{
  text-decoration: underline;
}
button{
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}
button:hover{
  box-shadow: 0px 0px 2px 1px rgb(40, 40, 40);
}
.SignInSignUp{
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #00000090;
  display: grid;
  position: absolute;
}
.SignInSignUp form{
  background-color: rgba(78, 80, 98);
  width: min(400px, 50%);
  padding: 1rem;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 5px 8px gray;
  border-radius: 2rem;
  position: relative;
}
.SignInSignUp form div{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.SignInSignUp h2{
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.SignInSignUp form input{
  padding: 0.2rem;
}
.SignInSignUp form span{
  cursor: pointer;
}
.SignInSignUp p{
  text-align: center;
}
.SignInSignUp form button{
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
}
.navbar{
  display: flex;
  /* background-color: #FF6B6B; */
  color: #292F36;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}
.navbar .logo{
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}
.navbar ul{
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.navbar-search{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar-search input{
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.navbar-search i{
  position: relative;
}
.navbar-search .cart-notification{
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: 0px;
}
.navbar-search span{
  cursor: pointer;
}
.navbar-search button{
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  /* background-color: #FDFCDC; */
  border: none;
}
.body-top{
  width: 90%;
  margin: auto;
  padding: 4rem 2rem 2rem;
  background: url("./assets/header_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: aliceblue;
  box-shadow: 0 0px 10px -5px gray;
  border-radius: 1rem;
  display: flex;
  align-items: end;
}
.body-top>div{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  animation: fadeIn 1.5s ease-in-out;
}
.body-top>div h2{
  font-size: max(4rem, 22px);
}
.body-top>div p{
  font-size: 1.2rem;
}
.body-top button{
  padding: 0.8rem;
  margin-top: 1rem;
  /* background-color: rgb(236, 236, 236); */
} 
.explore-menu{
  width: 90%;
  margin: 2.5rem auto;
  padding: 1rem 0rem;
  border-bottom: 2px solid #e2e2e2;
}
.explore-menu p{
  margin: 0.4rem 0rem 1.5rem;
}
.explore-menu>div{
  display: flex;
  justify-content: space-between;
  text-align: center;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 1rem;
}
.explore-menu>div>div{
  cursor: pointer;
}
.explore-menu>div img{
  box-shadow: 0px 0px 2px 1px rgb(40, 40, 40);
  border-radius: 50%;
}
.display-menu{
  width: 90%;
  margin: auto;
}
.display-menu>div{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  gap: 2rem;
  margin: 1rem 0rem 5rem;
}
.display-menu .food-card{
  box-shadow: 0px 0px 8px 0px #576490;
  border-radius: 0.8rem;
}
.food-card-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.food-card-button button{
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
}
.display-menu .food-card-data{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  text-align: justify;
}
.display-menu img{
  width: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.display-menu .food-card-data p{
  font-size: 0.8rem;
}
.display-menu .food-card-data>div{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: tomato;
  font-weight: 800;
}
.app-download{
  width: 60%;
  margin: 0rem auto 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.app-download h2{
  font-size: 3rem;
  text-align: center;
}
.app-download div{
  display: flex;
  gap: 1.5rem;
}
.app-download button{
  padding: 1rem;
  display: flex;
  gap: 0.4rem;
}
.footer{
  background-color: #6D8EA0;
  color: aliceblue;
}
.footer-upper{
  width: 90%;
  display: grid;
  margin: auto;
  padding: 2rem 0rem;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 4rem;
  border-bottom: 2px solid #e2e2e2;
}
.footer-upper-left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-upper-left p{
  text-align: justify;
}
.footer-upper-left div{
  display: flex;
  justify-content: start;
  gap: 1rem;
}
.footer-upper-center, .footer-upper-right{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-upper-center li{
  font-size: 0.9rem;
}
.footer-lower{
  text-align: center;
  padding: 2rem;
}
.cart{
  width: 70%;
  margin: 2rem auto;
}
.cart-header, .cart-data{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  border-bottom: 2px solid #e2e2e2;
  align-items: center;
}
.cart-header{
  padding: 0rem 0rem 1rem 0rem;
}
.cart-data{
  padding: 0.5rem 0rem 0.5rem 0.2rem;
}
.cart-data img{
  width: 70px;
}
.remove{
  cursor: pointer;
}
.cart-total{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  margin: 5.6rem 0rem 3rem 0rem;
}
.cart-total>div>div{
  margin: 0.5rem 0.2rem;
}
.cart-total>div>div>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total-border{
  border-bottom: 2px solid #e2e2e2;
}
.cart-total button{
  padding: 0.4rem 0.6rem;
}
.cart-promocode input{
  padding: 0.1rem 0.3rem;
  margin-right: 0.5rem;
}
.cart-promocode button{
  padding: 0.2rem 0.4rem;
}
.order{
  width: 90%;
  margin: 3rem auto 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.order h3{
  font-size: 2rem;
}
.order form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.order form input{
  padding: 0.2rem;
}
.order form div{
  display: flex;
  gap: 1rem;
}
.order form button{
  padding: 0.4rem;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width: 900px){
  .navbar ul{
    display: none;
  }
  .navbar-search input{
    display: none;
  }
  .footer-upper{
    gap:2rem
  }
}
@media (max-width:500px){
  .footer-upper{
    gap:1rem
  }
  .cart-total{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}