@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  }
ul li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.highlight{
  border:4px solid #B24B3E;
  border-radius: 50%;
}
.underline{
  text-decoration: underline;
}
button{
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}
button:hover{
  box-shadow: 0px 0px 2px 1px rgb(40, 40, 40);
}
.navbar{
  display: flex;
  /* background-color: #FF6B6B; */
  color: #292F36;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
}
.navbar .logo{
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}
.navbar ul{
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.navbar-search{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar-search input{
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.navbar-search span{
  cursor: pointer;
}
.navbar-search button{
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  /* background-color: #FDFCDC; */
  border: none;
}
.body-top{
  width: 90%;
  margin: auto;
  padding: 4rem 2rem 2rem;
  background: url("./assets/header_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: aliceblue;
  box-shadow: 0 0px 10px -5px gray;
  border-radius: 1rem;
  display: flex;
  align-items: end;
}
.body-top>div{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  animation: fadeIn 1.5s ease-in-out;
}
.body-top>div h2{
  font-size: max(4rem, 22px);
}
.body-top>div p{
  font-size: 1.2rem;
}
.body-top button{
  padding: 0.8rem;
  margin-top: 1rem;
  /* background-color: rgb(236, 236, 236); */
} 
.explore-menu{
  width: 90%;
  margin: 2.5rem auto;
  padding: 1rem 0rem;
  border-bottom: 2px solid #e2e2e2;
}
.explore-menu p{
  margin: 0.4rem 0rem 1.5rem;
}
.explore-menu>div{
  display: flex;
  justify-content: space-between;
  text-align: center;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 1rem;
}
.explore-menu>div>div{
  cursor: pointer;
}
.explore-menu>div img{
  box-shadow: 0px 0px 2px 1px rgb(40, 40, 40);
  border-radius: 50%;
}
/* .explore-menu>div img:hover{
  box-shadow: 0px 0px 6px 1px rgb(40, 40, 40);
  border-radius: 50%;
} */
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}